<table style="width: 100%; border: 1px solid black;">
  <tr>
    <th>Estado Compra</th>
    <th>Productos + Descripción </th>
  </tr>
  <tr *ngFor="let producto of productos; index as i;">
    <td>
      <input type="radio" name="comprado-{{i}}" [(ngModel)]="producto.comprado" [value]=true> Si
      <input type="radio" name="comprado-{{i}}" [(ngModel)]="producto.comprado" [value]=false> No
    </td>
    <td>{{producto.titulo}}</td>
    <td>{{producto.cuerpo}}</td>
  </tr>
</table>

<h2>Estado de compra del producto 1:</h2>
<h3 *ngIf="productos[0].comprado">Si</h3>
<h3 *ngIf="!productos[0].comprado">No</h3>
